.callToAction {
  position: relative;
  padding: clamp(20px, 2vh, 2vh) 0;
  background-color: var(--primary);
}
.callToAction__Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.callToAction__Row h2 {
  color: var(--white);
}
.callToAction__btn {
  display: flex;
  align-items: center;
  column-gap: clamp(15px, 2vw, 2vw);
}
.callToAction__btn button {
  display: flex;
  align-items: center;
  column-gap: clamp(5px, 0.5vw, 0.5vw);
  padding: clamp(8px, 0.8vw, 0.8vw) clamp(10px, 1vw, 1vw);
  border: none;
  background-color: var(--white);
  color: var(--primary);
  font-size: clamp(16px, 1vw, 1vw);
  cursor: pointer;
  border-radius: clamp(5px, 0.5vw, 0.5vw);
  transition: all 0.3s ease-in-out;
}
.callToAction__btn2 {
  background-color: var(--secondary) !important;
  color: var(--white) !important;
}
.callToAction__btn button:hover {
  background-color: var(--secondary);
  color: var(--white);
}
.callToAction__btn2:hover {
  background-color: var(--white) !important;
  color: var(--primary) !important;
}

@media only screen and (max-width: 600px) {
  .callToAction__Row {
    flex-direction: column;
    row-gap: 20px;
  }
}
