.ourKeyPeople {
  position: relative;
  padding: clamp(60px, 7vh, 7vh) 0;
}
.ourKeyPeople__mainRow {
  display: flex;
  flex-direction: column;
  row-gap: clamp(30px, 4vh, 4vh);
}
.ourKeyPeople__mainRow > h2 {
  position: relative;
}
.ourKeyPeople__mainRow > h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 10%;
  height: 2px;
  background-color: var(--secondary);
}
.ourKeyPeople__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: clamp(15px, 2vw, 2vw);
  row-gap: clamp(30px, 4vh, 4vh);
}
.ourKeyPeople__column {
  display: flex;
  flex-direction: column;
  row-gap: clamp(15px, 2vh, 2vh);
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: clamp(40px, 2vw, 2vw);
  border-radius: clamp(10px, 1vw, 1vw);
  background-image: url("../../../../public/people-line.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.ourKeyPeople__column img {
  width: clamp(100px, 10vw, 10vw);
  height: auto;
  object-fit: cover;
}
.ourKeyPeople__columnContent {
  display: flex;
  flex-direction: column;
  row-gap: clamp(10px, 1vh, 1vh);
}
.ourKeyPeople__columnContent h3 {
  color: var(--blue);
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .ourKeyPeople__row {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .ourKeyPeople__row {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
