.topBar {
  position: relative;
  background-color: var(--primary);
  padding: clamp(8px, 0.8vw, 0.8vw) 0;
  color: var(--white);
}
.topBar__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: clamp(15px, 2vw, 2vw);
}
.topBar__donate {
  background-color: var(--white);
  padding: clamp(5px, 0.5vw, 0.5vw) clamp(10px, 1vw, 1vw);
  color: var(--primary) !important;
  transition: all 0.3s ease;
  border-radius: clamp(5px, 0.5vw, 0.5vw);
}
.topBar__donate:hover {
  background-color: var(--secondary);
  color: var(--white) !important;
}
.topBar a {
  color: var(--white);
}
