.line {
  position: relative;
  background-image: url("../../public/line.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: clamp(10px, 2vh, 2vh);
  margin-bottom: -1px;
}
.sliderConatainer {
  position: relative;
  background-color: var(--primary);
  padding: clamp(40px, 5vh, 5vh) 0;
}
